<?xml version="1.0"?>
<!--
Launch driver components of p3at's supported accessories.

Environment Variables generally derived from /etc/ros/setup.bash

-->

<launch>

  <arg name="camera" default="zed"/>
  <arg name="kinova_joy" default="true"/>
  <arg name="kinova_joy_restricted" value="true"/>
  <arg name="unity" default="true" doc="spawn ros_tcp_endpoint for Unity link"/>

  <group if="$(optenv RPLIDAR 0)">
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
      <rosparam command="load" file="$(find husky_accessories)/config/husky_laser_filter.yaml" />
    </node>

    <node pkg="husky_accessories" type="husky_obstacle" name="husky_obstacle"/>
  </group>
  
  <group if="$(optenv RADEYE 0)">
    <include file="$(find radeye)/launch/radeye_example.launch"/>
  </group>

  <group if="$(eval arg('camera') == 'zed')">
    <group if="$(optenv PAN_TILT 0)">
      <node pkg="dynamixel_pan_tilt" type="dynamixel_pan_tilt_node.py" name="dynamixel_pan_tilt_node">
        <param name="pan_tilt_angle_topic" value="/pan_tilt_angle"/>
      </node>
    </group>

    <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_zedstream">
      <param name="cmd" value="/home/jetson/ZED_Streaming_Sender_Depth"/>
    </node>
  </group>

  <group if="$(eval arg('camera') == 'zed_novr')">
    <group if="$(optenv PAN_TILT 0)">
      <node pkg="dynamixel_pan_tilt" type="dynamixel_pan_tilt_node.py" name="dynamixel_pan_tilt_node">
        <param name="pan_tilt_angle_topic" value="pan_tilt_joy"/>
      </node>
      <node pkg="dynamixel_pan_tilt" type="dynamixel_pan_tilt_joy.py" name="dynamixel_pan_tilt_node_joy">
        <param name="joy_topic" value="/joy_teleop/joy"/>
      </node>
    </group>
    
    <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_zedstream">
      <param name="cmd" value="/home/jetson/ZED_Streaming_Sender_Depth"/>
    </node>
  </group>

  <group if="$(eval arg('camera') == 'theta')">
    <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_theta">
      <param name="cmd" 
            value="gst-launch-1.0 thetauvcsrc mode=4K ! queue ! h264parse ! rtph264pay mtu=1400 ! udpsink host=192.168.1.114 port=7000 sync=false"/>
    </node>
  </group>



  <group if="$(optenv HUSKY_KINOVA 0)">
    <include file="$(find husky_kinova_bringup)/launch/husky_gen3_bringup.launch">
      <arg name="gripper" value="robotiq_2f_85"/>
      <arg name="use_hard_limits" value="false"/>
    </include>

    <group if="$(arg kinova_joy)">
      <include file="$(find kinova_joy_teleop)/launch/kinova_joy_teleop.launch">
        <arg name="restricted_mode" value="$(arg kinova_joy_restricted)"/>
      </include>
    </group>
  </group>


  <group if="$(optenv USB_CAM 0)">
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam">
      <param name="video_device" value="$(optenv USB_CAM_DEVICE /dev/webcam)"/>
      <param name="framerate" value="15"/>
      <!--param name="image_width" value="640" /-->
      <!--param name="image_height" value="480" /-->
      <param name="pixel_format" value="yuyv" />
    </node>
  </group>

  <group if="$(arg unity)">
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">  
      <arg name="tcp_ip" value="192.168.1.117"/>
    </include>
  </group>

</launch>
