[submodule "husky_cartographer_navigation"]
	path = husky_cartographer_navigation
	url = git@github.com:Gregory-Baker/husky_cartographer_navigation.git
[submodule "kinova_joy_teleop"]
	path = kinova_joy_teleop
	url = git@github.com:Gregory-Baker/kinova_joy_teleop.git
